@import "tailwindcss";



html {
  scroll-behavior: smooth;
}

:root {
  --background: #021537;
  --foreground: #ffffff;

  --primary:background: #021537;
background: linear-gradient(44deg, rgba(2, 21, 55, 1) 77%, rgba(1, 71, 59, 1) 91%, rgba(0, 99, 83, 1) 100%);
  --primary-foreground: #ffffff;

  --secondary: #f3f4f6;
  --secondary-foreground: #ffffff;

  --accent: #0ea5e9;
  --accent-foreground: #ffffff;

  --border: #e5e7eb;
}




@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
}


@theme {
  --animate-float: float 4s ease-in-out infinite;
}

@keyframes float {
  0%,100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}








/* Fondo */
.background{
    width:100%;
    height:100%;

    background:
        /* Partículas */
        radial-gradient(circle at 15% 25%, rgba(255,255,255,.35) 2px, transparent 3px),
        radial-gradient(circle at 85% 30%, rgba(255,255,255,.20) 3px, transparent 4px),
        radial-gradient(circle at 60% 75%, rgba(255,255,255,.25) 2px, transparent 3px),
        radial-gradient(circle at 30% 80%, rgba(0,255,200,.15) 3px, transparent 5px),
        radial-gradient(circle at 75% 60%, rgba(0,255,180,.12) 4px, transparent 6px),

        /* Tu degradado */
        linear-gradient(
            44deg,
            #021537 77%,
            #01473b 91%,
            #006353 100%
        );

    background-size:
        220px 220px,
        320px 320px,
        260px 260px,
        400px 400px,
        500px 500px,
        cover;

    animation: particlesMove 25s linear infinite;
}

/* Movimiento de las partículas */
@keyframes particlesMove{
    from{
        background-position:
            0 0,
            0 0,
            0 0,
            0 0,
            0 0,
            center;
    }

    to{
        background-position:
            500px 300px,
            -350px 450px,
            250px -300px,
            -450px -200px,
            400px -450px,
            center;
    }
}